---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'IHS Hackerspace: Projects';
const description = 'IHS Hackerspace projects.';
const permalink = `${Astro.site.href}projects`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="projects">
  <div class="container">
    <h1>Ongoing Projects</h1>

  </div>
</BaseLayout>

<style>


  @media (max-width: 1020px) {

  }
</style>
