---
import IconLink from "./IconLink.astro";
import { footerIconLinks } from "../data/footer-data";
---

<footer>
  {
    Object.entries(footerIconLinks).map(([name, link]) => {
      return (
        <div class="icon-links">
          <IconLink icon={name} link={link} />
        </div>
      );
    })
  }

  <span>
    Example images shamelessly stolen from the <a href="https://www.ipswich5459.com/" target="_blank" rel="noopener">Ipswich High School Robotics Team</a>.
  </span>
  <span>
    Based on Astro template by <a href="https://www.twitter.com/Charca" target="_blank" rel="noopener">Maxi Ferreira</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }

  span {
    display: block;
    margin-top: 1em;
  }

  .icon-links {
    margin: 1rem 0.5rem;
    display: inline-block;
    justify-content: center;
  }
</style>
