<style>
  img {
    display: block;
    height: 75px;
    min-width: 425px;

  }

  @media (max-width: 500px) {
    img {
      height: 50px;
      min-width: 0;
    }
  }
</style>

<a href="/">
  <img loading="eager" alt="IHS Hackerspace Logo" src="/assets/logo-long.png">
</a>
